@tailwind components;
@tailwind utilities;
@layer mantine, mantine-datatable;

@layer tailwind {
  @tailwind base;
}

body {
  background-color: white;
}

/* Fix mantine datatable page size selector active background */
.mantine-datatable-page-size-selector-active  {
  background-color: #1C7ED6;
}